.panel-products-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Table_products {
    width: 100%;
    margin-top:20px;
    border-collapse: collapse;
    overflow-x: auto;
    border: 3px solid rgb(0, 0, 0);
}

.row_table td img{
    width: 120px;
    mix-blend-mode: multiply;
}

.row_table{
    border: 1px solid #0002 ;
}

.row_table td{
    width: fit-content;
}
.__head th{
    padding: 20px;
}
.__actions{
    display: flex;
    height:156px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container_buttons{
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap:20px;
}