.carousel__container {
    width: 100%;
    height: 450px; /* o 500px, lo que desees */
    position: relative;
    overflow: hidden;
    
}

.slide_image {
    width: 100%;
    height: 100%;
}
.slide_image::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0002;
    z-index: 200;
}

.slide_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Posicionar los dots en la parte inferior y centrados */
.swiper-pagination {
    position: absolute;
    bottom: 12px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 100;
}

/* Estilo base de los bullets */
.swiper-pagination-bullet {
    background: rgba(0, 0, 0, 0.5);
    width: 10px;
    height: 10px;
    margin: 0 4px;
    border-radius: 50%;
    opacity: 1;
}

/* Estilo del bullet activo */
.swiper-pagination-bullet-active {
    background: rgb(0, 0, 0);
}

/* Mejorar visibilidad en escritorio */
@media (min-width: 768px) {
    .swiper-pagination {
        bottom: 24px; /* un poco más abajo en desktop si deseas */
    }
}

